<!DOCTYPE HTML>
<html>
	<head>
		<title>The Digital Book Corner</title>
		<meta charset="utf-8" />
        <meta name="description" content="Digital Book Library">
        <meta name="keywords" content="library, books, digital, academic, fiction, non-fiction">
        <meta name="author" content="Claire Hooper, Krizia Olitoquit, Robbie Anderson">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <style>
            #container{
                border: 3px solid Green;
                width: 100%;
                grid-template-columns: auto;
                grid-template-rows: 100px auto auto auto auto auto auto auto;
                grid-template-areas: "head"
                                    "search"
                                    "ad1"
                                    "slide1"
                                    "ad2"
                                    "slide2"
                                    "ad3"
                                    "foot";
            }

            header{
                border: 2px solid blue;
                grid-area: head;
            }

            /*I have somethings I'm working on, for now this is just a square*/

            #logoimg{
                border: 2px solid blue;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #logoimg a img{
                border: 2px solid blue;
                width: 50px;
                height: 50px;
            }


            
            #loginandshoppingcart{
                border: 2px solid blue;
                display: flex;
                justify-content: flex-end;
                margin-right: 10px;
            }

            #loginbutton{
               border: 2px solid blue; 
               margin-right: 10px;
            }


            /* will need to get an icon for this*/
            #shoppingcart{
                border: 2px solid blue; 
                margin-right: 10px;
            }

            #navbarlinks{
               border: 2px solid blue; 
               display: flex;
               justify-content: space-evenly; 
               align-items: center;
               width: 90%;
               margin-left: 110px;
            }

            .search{
                border: 2px solid red;
                grid-area: search;
                height: 650px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            input[type=search]{
                border: 2px solid red;
                width: 700px;
            }

            
            .btn-btn-primary{
                border: 2px solid red;
                margin-left: 600px;
                margin-top: 20px;
            }
            
            /*when I say ad here, I mean some content to break up the sliders and the main search bar. they could be links to certain books or search options, up to you guys*/
            #ad1{
                border: 2px solid purple; 
                grid-area: ad1;
                height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #adbox1{
                border: 2px solid purple;
                height: 450px;
                width: 800px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            } 

            #adbox1 h2{
                border: 2px solid purple;
                display: flex;
                justify-content: flex-end;
                margin-left: 70px;
            }

            #adbox1 button{
                border: 2px solid purple;
                width: 80px;
            }


            #slider1{
                border: 2px solid pink; 
                grid-area: slide1;
                height: 400px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }

            /*for now there is just a grey box but these would be the sliders*/
            #sliderplaceholder1{
                border: 2px solid pink; 
                height: 300px;
                width: 95%; 
                margin-left: 70px;
                background-color: lightgray;
            }

            #ad2{
                border: 2px solid purple; 
                grid-area: ad2;
                height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

             #adbox2{
                border: 2px solid purple;
                height: 450px;
                width: 800px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            } 

            #adbox2 h2{
                border: 2px solid purple;
                display: flex;
                justify-content: flex-end;
                margin-left: 70px;
            }

            #adbox2 button{
                border: 2px solid purple;
                width: 80px;
            }


             #slider2{
                border: 2px solid pink; 
                grid-area: slide2;
                height: 400px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }

            #sliderplaceholder2{
                border: 2px solid pink; 
                height: 300px;
                width: 95%; 
                margin-left: 70px;
                background-color: lightgray;
            }

            #ad3{
                border: 2px solid purple; 
                grid-area: ad3;
                height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

             #adbox3{
                border: 2px solid purple;
                height: 450px;
                width: 800px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            } 

            #adbox3 h2{
                border: 2px solid purple;
                display: flex;
                justify-content: flex-end;
                margin-left: 70px;
            }

            #adbox3 button{
                border: 2px solid purple;
                width: 80px;
            }


            footer{
                border: 2px solid aqua;
                grid-area: foot;
                display: flex;
                justify-content: space-evenly;
                padding-bottom: 70px;
            }
            
        </style>
	</head>
    
    <body>
        <div id="container">
            <header>
                    <div id="logoimg">
                        <a href="/home"><img src=""></a><!--this route doesn't seem to work-->
                    </div>
                    <div id="loginandshoppingcart">
                        <div id="loginbutton">
                            <button>Login</button>
                        </div>
                        <div id="shoppingcart">
                            <button formaction="shoppingCart"><img src=""></button>
                        </div>
                    </div>
                    <div id="navbarlinks"> <!--this should have all the dropdownlinks we need as well as links to whatever pages-->

                        <div id="searchgenre">
                            <h4>Genre</h4>
                                <div id="genreform">
                                    <form action="/search_genre" method="POST">
                                        <input type="radio" id="Biography" name="genre" value="Biography">
                                        <label for="biography">Biography</label><br>

                                        <input type="radio" id="Business" name="genre" value="Business">
                                        <label for="business">Business</label><br>

                                        <input type="radio" id="Children" name="genre" value="Children">
                                        <label for="children">Children</label><br>

                                        <input type="radio" id="Classic" name="genre" value="Classic">
                                        <label for="children">Classic</label><br>

                                        <input type="radio" id="Fantasy" name="genre" value="Fantasy">
                                        <label for="fantasy">Fantasy</label><br>

                                        <input type="radio" id="Fiction" name="genre" value="Fiction">
                                        <label for="fiction">Fiction</label><br>

                                        <input type="radio" id="Literature" name="genre" value="Literature">
                                        <label for="literature">Literature</label><br>

                                        <input type="radio" id="Non-Fiction" name="genre" value="Non-Fiction">
                                        <label for="non-fiction">Non-Fiction</label><br>

                                        <input type="radio" id="Romance" name="genre" value="Romance">
                                        <label for="romance">Romance</label><br>

                                        <input type="radio" id="Science Fiction" name="genre" value="Science Fiction">
                                        <label for="sciencefiction">Science Fiction</label><br>

                                        <input type="radio" id="Self-Help" name="genre" value="Self-Help">
                                        <label for="self-help">Self-Help</label><br>

                                        <input type="radio" id="Textbooks" name="genre" value="Textbooks">
                                        <label for="textbooks">Textbooks</label><br>

                                        <input type="radio" id="Travel" name="genre" value="Travel">
                                        <label for="travel">Travel</label><br>

                                        <input type="submit" class="genre" value="submit">
                    
                                    </form>

                                </div>
                        </div>
                        <div id="demographicsearch">
                            <h4>Demographic</h4>
                                <div id="demographicform">
                                    <form action="/search_demographics" method="POST">
                                        <input type="radio" id="Adult" name="demographics" value="Adult">
                                        <label for="Adult">Adult</label><br>

                                        <input type="radio" id="Teens" name="demographics" value="Teens">
                                        <label for="Teens">Teens</label><br>

                                        <input type="radio" id="Kids" name="demographics" value="Kids">
                                        <label for="Kids">Kids</label><br>

                                        <input type="submit" class="demographic" value="Search">
                                    </form>
                                </div>
                        </div>
                        <div id="yearsearch">
                            <h4>Publishing Year</h4>
                                <div id="yearform">
                                    <form action="/search_year" method="POST">
                                        <input type="radio" id="0-2000" name="yearRange" value="0,2000">
                                        <label for="0-2000">Before 2000</label><br>

                                        <input type="radio" id="2001-2010" name="yearRange" value="2001,2010">
                                        <label for="2001-2010">2001 - 2010</label><br>

                                        <input type="radio" id="2011-2020" name="yearRange" value="2011,2020">
                                        <label for="2011-2020">2011 - 2020</label><br>

                                        <input type="radio" id="2021-2030" name="yearRange" value="2021,2030">
                                        <label for="2021-2030">2021 and Beyond</label><br>

                                        <input type="submit" class="yearRange" value="submit">
                                    </form>
                                </div>
                        </div>

                    </div>

                </header>
            <!--<h1>The Digital Book Corner</h1>

            <div class="container mt-4">
                {{#each rows}}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4 class="card-title">{{this.BookTitle}}</h4>
                            <p class="card-text">${{this.Price}}</p>
                            <form action="/addToCart" method="POST">
                                <input type="hidden" name="BookTitle" value={{this.BookTitle}}>
                                <input type="hidden" name="Price" value={{this.Price}}>
                                <input type="submit" value="Add To Cart" onclick="addToCart(event, '{{this.BookTitle}}', '{{this.Price}}')">
                            </form>
                    </div>
                {{/each}}
            </div>-->
            

            
            <form action="/search_item" class="search" method="POST">
                <input type="search"  name="BookTitle" class="form-control rounded"  placeholder="Search" size="255" aria-label="Search" aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                </span>
                <input type="submit" class="btn-btn-primary" value="Search">
            </form>

            <div id="ad1"> <!--these are mostly to break up the sliders and important content, if there is anything we want to add instead do it-->
                <div id="adbox1">
                    <h2>Ad</h2>
                    
                    <button formaction="">Shop Now</button>
                </div>
            </div>
            
            <div id="slider1">
                <h1>Check Out What's New in the Corner</h1>
                <div id="sliderplaceholder1">
                    <!--slider here-->
                </div>
                
            </div>

            <div id="ad2"> 
                 <div id="adbox2">
                    <h2>Ad</h2>
                    
                        <button formaction="">Shop Now</button>
                 </div>
            </div>

            <div id="slider2">
                <h1>Check Out Our Fantasy</h1>
                <div id="sliderplaceholder2">
                    <!--slider here-->
                </div>
            </div>

            <div id="ad3"> 
                <div id="adbox3">
                    <h2>Ad</h2>
                    
                        <button formaction="">Shop Now</button>
                 </div>
            </div>

            <!--<h2>Genre</h2>
            <form action="/search_genre" method="POST">
                <input type="radio" id="Biography" name="genre" value="Biography">
                <label for="biography">Biography</label><br>

                <input type="radio" id="Business" name="genre" value="Business">
                <label for="business">Business</label><br>

                <input type="radio" id="Children" name="genre" value="Children">
                <label for="children">Children</label><br>

                <input type="radio" id="Classic" name="genre" value="Classic">
                <label for="children">Classic</label><br>

                <input type="radio" id="Fantasy" name="genre" value="Fantasy">
                <label for="fantasy">Fantasy</label><br>

                <input type="radio" id="Fiction" name="genre" value="Fiction">
                <label for="fiction">Fiction</label><br>

                <input type="radio" id="Literature" name="genre" value="Literature">
                <label for="literature">Literature</label><br>

                <input type="radio" id="Non-Fiction" name="genre" value="Non-Fiction">
                <label for="non-fiction">Non-Fiction</label><br>

                <input type="radio" id="Romance" name="genre" value="Romance">
                <label for="romance">Romance</label><br>

                <input type="radio" id="Science Fiction" name="genre" value="Science Fiction">
                <label for="sciencefiction">Science Fiction</label><br>

                <input type="radio" id="Self-Help" name="genre" value="Self-Help">
                <label for="self-help">Self-Help</label><br>

                <input type="radio" id="Textbooks" name="genre" value="Textbooks">
                <label for="textbooks">Textbooks</label><br>

                <input type="radio" id="Travel" name="genre" value="Travel">
                <label for="travel">Travel</label><br>

                <input type="submit" class="genre" value="submit">
                
            </form>

            <h2>Demographics</h2>
            <form action="/search_demographics" method="POST">
                <input type="radio" id="Adult" name="demographics" value="Adult">
                <label for="Adult">Adult</label><br>

                <input type="radio" id="Teens" name="demographics" value="Teens">
                <label for="Teens">Teens</label><br>

                <input type="radio" id="Kids" name="demographics" value="Kids">
                <label for="Kids">Kids</label><br>

                <input type="submit" class="demographic" value="Search">
            </form>

            <h2>Year Published</h2>
            <form action="/search_year" method="POST">
                <input type="radio" id="0-2000" name="yearRange" value="0,2000">
                <label for="0-2000">Before 2000</label><br>

                <input type="radio" id="2001-2010" name="yearRange" value="2001,2010">
                <label for="2001-2010">2001 - 2010</label><br>

                <input type="radio" id="2011-2020" name="yearRange" value="2011,2020">
                <label for="2011-2020">2011 - 2020</label><br>

                <input type="radio" id="2021-2030" name="yearRange" value="2021,2030">
                <label for="2021-2030">2021 and Beyond</label><br>

                <input type="submit" class="yearRange" value="submit">
            </form>-->

            <script>
                
                function addToCart(event, bookTitle, price){
                
                event.preventDefault();

                //var selectedOption = event.target.querySelector('input[name="BookTitle"]').value;
                //Split the string into an array using the comma as a delimeter
                //var selectedOptionArray = selectedOption.split(',');
                
                //var bookTitle = selectedOptionArray[0];
                //var price = Number(selectedOptionArray[1]);

                console.log("Book Title: ", bookTitle);
                console.log("Price: ", price);
                
                    // Send an AJAX request to the server to add the item to the cart
                    fetch('/addToCart', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            BookTitle: bookTitle,
                            Price: price,
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        // Handle the response from the server (if needed)
                        console.log(data);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                }

                function Contact(){
                    window.location = '/contact';
                }

            </script>

            <footer>
                <div id="footerlinkcolumn1">
                    <h3>Company</h3>
                    <a href="/about">About</a>
                </div>
                <div id="footerlinkcolumn2">
                    <h3>Help</h3>
                    <a href="/contact">Contact</a>
                </div>

            </footer>
       </div> 
    </body>

</html>