<!DOCTYPE HTML>
<html>
    <head>
        <title>The Digital Book Corner</title>
        <meta charset="utf-8" />
        <meta name="description" content="Digital Book Library">
        <meta name="keywords" content="library, books, digital, academic, fiction, non-fiction">
        <meta name="author" content="Claire Hooper, Krizia Olitoquit, Robbie Anderson">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <style>
            #container {
                width: 100%;
                background-color: #FCEDD4;
                grid-template-columns: 33% 33% 33%;
                grid-template-rows: 100px, auto auto auto auto;
                grid-template-areas: "head head head"
                                    "content content content"
                                    "content content content"
                                    "content content content"
                                    "foot foot foot";
            }

            html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;

   

    }

        @font-face {
            font-family: Limelight;
            src: url(/assets/Limelight-Regular\ copy.ttf);
        }

        @font-face {
            font-family: CantataOne;
            src: url(/assets/CantataOne-Regular\ copy.ttf);
        }

        @font-face {
            font-family: BigCaslon;
            src: url(/assets/BigCaslon.ttf);
        }

            header{
                grid-area: head;
                background-color: #8DB8A8;
            }
            /*I have somethings I'm working on, for now this is just a square*/

            #logoimg {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #logoimg a img{
                margin-top: 45px;
                width: 120px;
                height: 120px;
            }
            
            #loginandshoppingcart{
                display: flex;
                justify-content: flex-end;
                margin-right: 10px;
            }
            

            #loginbutton{
               margin-right: 20px;

            }

            .login-button{
                font-family: CantataOne;
                font-size: 20px;
                color: #1F2224;
                padding-top: 10px;
                padding-bottom: 10px;  
                padding-left: 20px; 
                padding-right: 20px;
                border-radius: 0%;
                background-color: #8DB8A8;
                border: 2px solid #1F2224;
            }

            .login-button:hover{
                border: 2px solid #1F2224;
                background-color: #1F2224;
                color: #FCEDD4;
            }


            /* will need to get an icon for this*/
            #shoppingcart{
                 
                margin-right: 10px;
            }

            #navbarlinks{ 
               display: flex;
               justify-content: space-evenly; 
               align-items: center;
               width: 90%;
               margin-left: 120px;
            }

            /*these are for the dropdown, they are not displayed for now to show how the nav bar may look */
            #navbarlinks #searchgenre{
                
                position: relative;
                display: inline-block;
            }

           #navbarlinks #searchgenre:hover #genreform{
                display: block;
            }

            #navbarlinks .dropbtn{
                border: 2px solid #8DB8A8;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 0%;
                cursor: pointer;
                background-color: #8DB8A8;
            }

            #navbarlinks .dropbtn h4{
                font-family: CantataOne;
                font-size: 25px;
                color: #1F2224;
            }

            #navbarlinks #genreform{
               
               background-color: #79A293;
               cursor: pointer;
               display: none;
               position: absolute;
               right: 0; 
               min-width: 160px;
               z-index: 1;
            }

            #navbarlinks #genreform form input [type=radio]{
                 
                cursor: pointer;
                display: block;
                font-family: BigCaslon;
            }

            #navbarlinks .genre{
               border: 2px solid #1F2224; 
               margin-top: 5px;
               padding-top: 10px; 
               padding-bottom: 10px;
               padding-left: 20px;
               padding-right: 20px;
               border-radius: 0%;
               background-color: #79A293;
               font-family: CantataOne;
               font-size: 20px;
               cursor: pointer;
               color: #1F2224;
            }

            #navbarlinks .genre:hover{
                border: 2px solid #1F2224;
                background-color: #1F2224;
                color: #FCEDD4;
            }

            #navbarlinks #demographicsearch{
                
                position: relative;
                display: inline-block;
            }

            #navbarlinks #demographicsearch:hover #demographicform{
                display: block;
            }

            #navbarlinks #demographicform{
               
               background-color: #79A293;
               cursor: pointer;
               display: none;
               position: absolute;
               right: 0; 
               min-width: 160px;
               z-index: 1;
            }

            #navbarlinks #demographicform form input [type=radio]{
                 
                cursor: pointer;
                display: block;
                font-family: BigCaslon;
            }

            #navbarlinks .demographic{
               border: 2px solid #1F2224; 
               margin-top: 5px;
               padding-top: 10px; 
               padding-bottom: 10px;
               padding-left: 20px;
               padding-right: 20px;
               border-radius: 0%;
               background-color: #79A293;
               font-family: CantataOne;
               font-size: 20px;
               cursor: pointer;
               color: #1F2224;
            }

            #navbarlinks .demographic:hover{
                border: 2px solid #1F2224;
                background-color: #1F2224;
                color: #FCEDD4;
            }

            #navbarlinks #yearsearch{
                
                position: relative;
                display: inline-block;
            }

            #navbarlinks #yearsearch:hover #yearform{
                display: block;
            }

            #navbarlinks #yearform{
               
               background-color: #79A293;
               cursor: pointer;
               display: none;
               position: absolute;
               right: 0; 
               min-width: 160px;
               z-index: 1;
            }

            #navbarlinks #yearform form input [type=radio]{
                 
                cursor: pointer;
                display: block;
                font-family: BigCaslon;
            }

            #navbarlinks .yearRange{
               border: 2px solid #1F2224; 
               margin-top: 5px;
               padding-top: 10px; 
               padding-bottom: 10px;
               padding-left: 20px;
               padding-right: 20px;
               border-radius: 0%;
               background-color: #79A293;
               font-family: CantataOne;
               font-size: 20px;
               cursor: pointer;
               color: #1F2224;
            }

            #navbarlinks .yearRange:hover{
                border: 2px solid #1F2224;
                background-color: #1F2224;
                color: #FCEDD4;
            }

            #content{
                grid-area: content; 
                display: flex;
            }

            ul{
               display: flex;
               flex-wrap: wrap;  
               justify-content: flex-start;
               align-items: center;
               padding-left: 120px;
            }

            li{
                width: 300px; 
                height: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 10px;
            }

            /*idealy there would be an image here, for now its just a square*/
            li img{
                width: 100px;
                height: 150px;
            }

            li h6{
                font-family: CantataOne;
                font-size: 21px;
                color: #1F2224;

            }

            li p{
                font-family: BigCaslon;
               font-size: 21px;
                color: #1F2224; 
            }

            #sidebarsearchgenre #genreform .genre{
                padding-top: 10px;
                padding-bottom: 10px;  
                padding-left: 20px; 
                padding-right: 20px;
                border-radius: 0%; 
                font-family: CantataOne;
                font-size: 21px;
                color: #1F2224;
                background-color: #FCEDD4;
                border: 2px solid #79A293;
                cursor: pointer;
                margin-bottom: 20px;
            }

             #sidebarsearchgenre #genreform .genre:hover{
                color: #FCEDD4;
                background-color: #8DB8A8;
                border: 2px solid #8DB8A8;
             }

            #sidebardemographicsearch #demographicform .demographic{
                padding-top: 10px;
                padding-bottom: 10px;  
                padding-left: 20px; 
                padding-right: 20px;
                border-radius: 0%; 
                font-family: CantataOne;
                font-size: 21px;
                color: #1F2224;
                background-color: #FCEDD4;
                border: 2px solid #79A293;
                cursor: pointer;
                margin-bottom: 20px;
            }

             #sidebardemographicsearch #demographicform .demographic:hover{
                color: #FCEDD4;
                background-color: #8DB8A8;
                border: 2px solid #8DB8A8;
             }

             #sidecaryearsearch #yearform .yearRange{
                padding-top: 10px;
                padding-bottom: 10px;  
                padding-left: 20px; 
                padding-right: 20px;
                border-radius: 0%; 
                font-family: CantataOne;
                font-size: 21px;
                color: #1F2224;
                background-color: #FCEDD4;
                border: 2px solid #79A293;
                cursor: pointer;
                margin-bottom: 20px;
            }

             #sidecaryearsearch #yearform .yearRange:hover{
                color: #FCEDD4;
                background-color: #8DB8A8;
                border: 2px solid #8DB8A8;
                
             }

            li button{
                padding-top: 10px;
                padding-bottom: 10px;  
                padding-left: 20px; 
                padding-right: 20px;
                border-radius: 0%; 
                font-family: CantataOne;
                font-size: 21px;
                color: #1F2224;
                background-color: #FCEDD4;
                border: 2px solid #79A293;
                cursor: pointer;

            }

            li button:hover{
                color: #FCEDD4;
                background-color: #8DB8A8;
                border: 2px solid #8DB8A8;
            }

            .btn-btn-primary{
               padding-top: 10px;
                padding-bottom: 10px;  
                padding-left: 20px; 
                padding-right: 20px;
                border-radius: 0%; 
                font-family: CantataOne;
                font-size: 21px;
                color: #1F2224;
                background-color: #FCEDD4;
                border: 2px solid #79A293; 
                cursor: pointer;
            }

            .btn-btn-primary:hover{
                color: #FCEDD4;
                background-color: #8DB8A8;
                border: 2px solid #8DB8A8;
            }

            #sidebar{
                border: 2px solid #1F2224;
                width: 20%;
            }

            #sidebarsearchgenre h4{
                font-family: CantataOne;
                font-size: 30px;
                color: #1F2224;
                padding-bottom: 20px;
            }

            #sidebarsearchgenre input [type=radio]{
                font-family: BigCaslon;
                font-size: 20px;
                color: #1F2224;
                padding-bottom: 20px;
            }

            #sidebardemographicsearch h4{
                font-family: CantataOne;
                font-size: 30px;
                color: #1F2224;
                padding-bottom: 20px;
            }

            #sidebardemographicsearch input [type=radio]{
                font-family: BigCaslon;
                font-size: 20px;
                color: #1F2224;
                padding-bottom: 20px;
            }

            #sidecaryearsearch h4{
                font-family: CantataOne;
                font-size: 30px;
                color: #1F2224;
                padding-bottom: 20px;
            }

            #sidecaryearsearch input [type=radio]{
                font-family: BigCaslon;
                font-size: 20px;
                color: #1F2224;
                padding-bottom: 20px;
            }

            #productlistgrid{
                width: 80%;
            }

            footer{
                grid-area: foot;
                display: flex;
                justify-content: space-evenly;
                padding-bottom: 70px;
            }

            footer h3{
                margin-top: 30px;
                margin-bottom: 30px;
                font-family: CantataOne;
                font-size: 23px;
                color: #1F2224;

            }

            footer a{
                text-decoration: none;
                font-family: BigCaslon;
                font-size: 23px;
                color: #1F2224;
            }

            footer a:hover{
                color: #8DB8A8;
            }

            .cart-button {
                background: none;
                border: none;
                cursor: pointer;
            }

            .cart-button img {
                width: 30px; /* Adjust the width as needed */
                height: auto;
            }

        </style>
    </head>
    <body>
        <div id="container">
        
            <header>
                <h1>The Digital Book Corner</h1>
                    <div id="logoimg">
                        <a href="/"><img src="./BookLogo.jpg" alt="logo"></a>
                    </div>
                <div id="loginandshoppingcart">
                       <div id="loginbutton">
                            <button class="login-button" onclick="location.href='/login'">Login</button>
                        </div>
                   <button class="cart-button" onclick="location.href='/shoppingCart'">
                                <img src="./cartpic.jpg" alt="cart">
                    </button>
                </div>
                <div id="navbarlinks"> <!--this should have all the dropdownlinks we need as well as links to whatever pages-->

                    <div id="searchgenre">
                        <h4>Genre</h4>
                            <div id="genreform">
                                <form action="/search_genre" method="POST">
                                    <input type="radio" id="Biography" name="genre" value="Biography">
                                    <label for="biography">Biography</label><br>

                                    <input type="radio" id="Business" name="genre" value="Business">
                                    <label for="business">Business</label><br>

                                    <input type="radio" id="Children" name="genre" value="Children">
                                    <label for="children">Children</label><br>

                                    <input type="radio" id="Classic" name="genre" value="Classic">
                                    <label for="children">Classic</label><br>

                                    <input type="radio" id="Fantasy" name="genre" value="Fantasy">
                                    <label for="fantasy">Fantasy</label><br>

                                    <input type="radio" id="Fiction" name="genre" value="Fiction">
                                    <label for="fiction">Fiction</label><br>

                                    <input type="radio" id="Literature" name="genre" value="Literature">
                                    <label for="literature">Literature</label><br>

                                    <input type="radio" id="Non-Fiction" name="genre" value="Non-Fiction">
                                    <label for="non-fiction">Non-Fiction</label><br>

                                    <input type="radio" id="Romance" name="genre" value="Romance">
                                    <label for="romance">Romance</label><br>

                                    <input type="radio" id="Science Fiction" name="genre" value="Science Fiction">
                                    <label for="sciencefiction">Science Fiction</label><br>

                                    <input type="radio" id="Self-Help" name="genre" value="Self-Help">
                                    <label for="self-help">Self-Help</label><br>

                                    <input type="radio" id="Textbooks" name="genre" value="Textbooks">
                                    <label for="textbooks">Textbooks</label><br>

                                    <input type="radio" id="Travel" name="genre" value="Travel">
                                    <label for="travel">Travel</label><br>

                                    <input type="submit" class="genre" value="Submit">
                
                                </form>

                            </div>
                    </div>
                    <div id="demographicsearch">
                        <h4>Demographic</h4>
                            <div id="demographicform">
                                <form action="/search_demographics" method="POST">
                                    <input type="radio" id="Adult" name="demographics" value="Adult">
                                    <label for="Adult">Adult</label><br>

                                    <input type="radio" id="Teens" name="demographics" value="Teens">
                                    <label for="Teens">Teens</label><br>

                                    <input type="radio" id="Kids" name="demographics" value="Kids">
                                    <label for="Kids">Kids</label><br>

                                    <input type="submit" class="demographic" value="Submit">
                                </form>
                            </div>
                    </div>
                    <div id="yearsearch">
                        <h4>Publishing Year</h4>
                            <div id="yearform">
                                <form action="/search_year" method="POST">
                                    <input type="radio" id="0-2000" name="yearRange" value="0,2000">
                                    <label for="0-2000">Before 2000</label><br>

                                    <input type="radio" id="2001-2010" name="yearRange" value="2001,2010">
                                    <label for="2001-2010">2001 - 2010</label><br>

                                    <input type="radio" id="2011-2020" name="yearRange" value="2011,2020">
                                    <label for="2011-2020">2011 - 2020</label><br>

                                    <input type="radio" id="2021-2030" name="yearRange" value="2021,2030">
                                    <label for="2021-2030">2021 and Beyond</label><br>

                                    <input type="submit" class="yearRange" value="Submit">
                                </form>
                            </div>
                    </div>

                </div>

            </header>

            <div id="content">
                <div id="sidebar">
                    <!--suggesting to put code in home.hbs that includes genre, demographic, publishing year, and price-->
                    <div id="sidebarsearchgenre">
                            <h4>Genre</h4>
                                <div id="genreform">
                                    <form action="/search_genre" method="POST">
                                        <input type="radio" id="Biography" name="genre" value="Biography">
                                        <label for="biography">Biography</label><br>

                                        <input type="radio" id="Business" name="genre" value="Business">
                                        <label for="business">Business</label><br>

                                        <input type="radio" id="Children" name="genre" value="Children">
                                        <label for="children">Children</label><br>

                                        <input type="radio" id="Classic" name="genre" value="Classic">
                                        <label for="children">Classic</label><br>

                                        <input type="radio" id="Fantasy" name="genre" value="Fantasy">
                                        <label for="fantasy">Fantasy</label><br>

                                        <input type="radio" id="Fiction" name="genre" value="Fiction">
                                        <label for="fiction">Fiction</label><br>

                                        <input type="radio" id="Literature" name="genre" value="Literature">
                                        <label for="literature">Literature</label><br>

                                        <input type="radio" id="Non-Fiction" name="genre" value="Non-Fiction">
                                        <label for="non-fiction">Non-Fiction</label><br>

                                        <input type="radio" id="Romance" name="genre" value="Romance">
                                        <label for="romance">Romance</label><br>

                                        <input type="radio" id="Science Fiction" name="genre" value="Science Fiction">
                                        <label for="sciencefiction">Science Fiction</label><br>

                                        <input type="radio" id="Self-Help" name="genre" value="Self-Help">
                                        <label for="self-help">Self-Help</label><br>

                                        <input type="radio" id="Textbooks" name="genre" value="Textbooks">
                                        <label for="textbooks">Textbooks</label><br>

                                        <input type="radio" id="Travel" name="genre" value="Travel">
                                        <label for="travel">Travel</label><br>

                                        <input type="submit" class="genre" value="Submit">
                    
                                    </form>

                                </div>
                        </div>
                        <div id="sidebardemographicsearch">
                            <h4>Demographic</h4>
                                <div id="demographicform">
                                    <form action="/search_demographics" method="POST">
                                        <input type="radio" id="Adult" name="demographics" value="Adult">
                                        <label for="Adult">Adult</label><br>

                                        <input type="radio" id="Teens" name="demographics" value="Teens">
                                        <label for="Teens">Teens</label><br>

                                        <input type="radio" id="Kids" name="demographics" value="Kids">
                                        <label for="Kids">Kids</label><br>

                                        <input type="submit" class="demographic" value="Submit">
                                    </form>
                                </div>
                        </div>
                        <div id="sidecaryearsearch">
                            <h4>Publishing Year</h4>
                                <div id="yearform">
                                    <form action="/search_year" method="POST">
                                        <input type="radio" id="0-2000" name="yearRange" value="0,2000">
                                        <label for="0-2000">Before 2000</label><br>

                                        <input type="radio" id="2001-2010" name="yearRange" value="2001,2010">
                                        <label for="2001-2010">2001 - 2010</label><br>

                                        <input type="radio" id="2011-2020" name="yearRange" value="2011,2020">
                                        <label for="2011-2020">2011 - 2020</label><br>

                                        <input type="radio" id="2021-2030" name="yearRange" value="2021,2030">
                                        <label for="2021-2030">2021 and Beyond</label><br>

                                        <input type="submit" class="yearRange" value="Submit">
                                    </form>
                                </div>
                        </div>

                </div>
                <div id="productlistgrid">
                    <ul>
                        {{#each rows}}
                            <li>
                                <img src="color: #FCEDD4;
                background-color: #8DB8A8;
                border: 2px solid #8DB8A8;">
                                <h6>Book Title: {{this.BookTitle}}</h6>
                                <p>Author: {{this.Author}}</p>
                                <p>Number of Copies: {{this.NumCopies}}</p>
                                <p>Price: {{this.Price}}</p>
                                <form action="/productdesc" method="GET">
                                    <input type="submit" class="btn-btn-primary" value="Details">
                                </form>
                                <form action="/addToCart" method="POST">
                                    <input type="hidden" name="BookTitle" value="{{this.BookTitle}}">
                                    <input type="hidden" name="Price" value="{{this.Price}}">
                                    <!--<input type="submit" value="Add to Cart-mareez">-->
                                    <button name="AddingToCart" id="cart" type="button" onclick="addToCart(event)" class="btn btn-danger" 
                                            value="{{this.BookTitle}},{{this.Price}}">Add to Cart</button>
                                </form>
                            </li>
                        {{/each}}
                    </ul>
                    
                </div>
            </div>

            <script>
                
                    function addToCart(event){

                    event.preventDefault();

                    var selectedOption = event.target.value;
                    //Split the string into an array using the comma as a delimeter
                    var selectedOptionArray = selectedOption.split(',');
                    
                    var bookTitle = selectedOptionArray[0];
                    var price = Number(selectedOptionArray[1]);

                    alert("Book Title: " + bookTitle);
                    alert("Price: " + price);
                    
                        // Send an AJAX request to the server to add the item to the cart
                        fetch('/addToCart', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                BookTitle: bookTitle,
                                Price: price,
                            }),
                        })
                        .then(response => response.json())
                        .then(data => {
                            // Handle the response from the server (if needed)
                            console.log(data);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    }

            </script>

            <footer>
                <div id="footerlinkcolumn1">
                    <h3>Company</h3>
                    <a href="/about">About</a>
                </div>
                <div id="footerlinkcolumn2">
                    <h3>Help</h3>
                    <a href="/contact">Contact</a>
                </div>

            </footer>
        </body>
    </div>
</html>