<!DOCTYPE HTML>
<html>
    <head>
        <title>The Digital Book Corner</title>
        <meta charset="utf-8" />
        <meta name="description" content="Digital Book Library">
        <meta name="keywords" content="library, books, digital, academic, fiction, non-fiction">
        <meta name="author" content="Claire Hooper, Krizia Olitoquit, Robbie Anderson">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    </head>
    <body>
        
        <header>
            <div id="logoimg">
                <a href="/home"><img src=""></a>
            </div>
            <div id="loginandshoppingcart">
                <div id="loginbutton">
                    <button>Login</button>
                </div>
                <div id="shoppingcart">
                    <button formaction="shoppingCart"><img src=""></button>
                </div>
            </div>
            <div id="navbarlinks"> <!--this should have all the dropdownlinks we need as well as links to whatever pages-->

                <div id="searchgenre">
                    <h4>Genre</h4>
                        <div id="genreform">
                            <form action="/search_genre" method="POST">
                                <input type="radio" id="Biography" name="genre" value="Biography">
                                <label for="biography">Biography</label><br>

                                <input type="radio" id="Business" name="genre" value="Business">
                                <label for="business">Business</label><br>

                                <input type="radio" id="Children" name="genre" value="Children">
                                <label for="children">Children</label><br>

                                <input type="radio" id="Classic" name="genre" value="Classic">
                                <label for="children">Classic</label><br>

                                <input type="radio" id="Fantasy" name="genre" value="Fantasy">
                                <label for="fantasy">Fantasy</label><br>

                                <input type="radio" id="Fiction" name="genre" value="Fiction">
                                <label for="fiction">Fiction</label><br>

                                <input type="radio" id="Literature" name="genre" value="Literature">
                                <label for="literature">Literature</label><br>

                                <input type="radio" id="Non-Fiction" name="genre" value="Non-Fiction">
                                <label for="non-fiction">Non-Fiction</label><br>

                                <input type="radio" id="Romance" name="genre" value="Romance">
                                <label for="romance">Romance</label><br>

                                <input type="radio" id="Science Fiction" name="genre" value="Science Fiction">
                                <label for="sciencefiction">Science Fiction</label><br>

                                <input type="radio" id="Self-Help" name="genre" value="Self-Help">
                                <label for="self-help">Self-Help</label><br>

                                <input type="radio" id="Textbooks" name="genre" value="Textbooks">
                                <label for="textbooks">Textbooks</label><br>

                                <input type="radio" id="Travel" name="genre" value="Travel">
                                <label for="travel">Travel</label><br>

                                <input type="submit" class="genre" value="submit">
            
                            </form>

                        </div>
                </div>
                <div id="demographicsearch">
                    <h4>Demographic</h4>
                        <div id="demographicform">
                            <form action="/search_demographics" method="POST">
                                <input type="radio" id="Adult" name="demographics" value="Adult">
                                <label for="Adult">Adult</label><br>

                                <input type="radio" id="Teens" name="demographics" value="Teens">
                                <label for="Teens">Teens</label><br>

                                <input type="radio" id="Kids" name="demographics" value="Kids">
                                <label for="Kids">Kids</label><br>

                                <input type="submit" class="demographic" value="Search">
                            </form>
                        </div>
                </div>
                <div id="yearsearch">
                    <h4>Publishing Year</h4>
                        <div id="yearform">
                            <form action="/search_year" method="POST">
                                <input type="radio" id="0-2000" name="yearRange" value="0,2000">
                                <label for="0-2000">Before 2000</label><br>

                                <input type="radio" id="2001-2010" name="yearRange" value="2001,2010">
                                <label for="2001-2010">2001 - 2010</label><br>

                                <input type="radio" id="2011-2020" name="yearRange" value="2011,2020">
                                <label for="2011-2020">2011 - 2020</label><br>

                                <input type="radio" id="2021-2030" name="yearRange" value="2021,2030">
                                <label for="2021-2030">2021 and Beyond</label><br>

                                <input type="submit" class="yearRange" value="submit">
                            </form>
                        </div>
                </div>

            </div>

        </header>

        <div id="Bookcover">
            <img src="">
        </div>
        <div id="bookinfo">
            <div id="booktitle">
                <h3>{{this.BookTitle}}</h3>
            </div>
            <div id="bookauthor">
                <h4>{{this.Author}}</h4>
            </div>
            <div id="price">
                <p>Price: {{this.Price}}</p>
            </div>
            <form action="/addToCart" method="GET">
                <input type="hidden" name="BookTitle" value="{{this.BookTitle}}">
                <input type="hidden" name="Price" value="{{this.Price}}">
                <input type="submit" value="Add to Cart">
            </form>

            <div id="infotitle">
                <h5>Information</h5>
            </div>
            <div id="infobox">
                <h6>Description</h6>
                <p>description goes here</p>
                <p>{{this.Genre}}</p>
                <p>Published in:{{this.PublishedYear}}</p>
                <p>{{this.Demographic}}</p>
                <p>Avialable number of Copies{{this.NumCopies}}</p>
            </div>
        </div>
        <footer>
            <div id="footerlinkcolumn1">
                <h3>Company</h3>
                <a href="/about">About</a>
            </div>
            <div id="footerlinkcolumn2">
                <h3>Help</h3>
                <a href="/contact">Contact</a>
            </div>

        </footer>
        
    </body>
</html>