<!DOCTYPE HTML>
<html>
    <head>
        <title>The Digital Book Corner</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <meta charset="utf-8" />
        <meta name="description" content="Digital Book Library">
        <meta name="keywords" content="library, books, digital, academic, fiction, non-fiction">
        <meta name="author" content="Claire Hooper, Krizia Olitoquit, Robbie Anderson">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <style>

        html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;

   

    }


         header{
                grid-area: head;
                background-color: #8DB8A8;
            }

            header h1{
                padding-top: 30px;
                font-family: CantataOne;
                font-size: 30px;
                color: #1F2224;

            }

            /*I have somethings I'm working on, for now this is just a square*/

            #logoimg {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #logoimg a img{
                width: 50px;
                height: 50px;
            }
            
            #loginandshoppingcart{
                display: flex;
                justify-content: flex-end;
                margin-right: 10px;
            }
            

            #loginbutton{
               margin-right: 20px;

            }

            .login-button{
                font-family: CantataOne;
                font-size: 20px;
                color: #1F2224;
                padding-top: 10px;
                padding-bottom: 10px;  
                padding-left: 20px; 
                padding-right: 20px;
                border-radius: 0%;
                background-color: #8DB8A8;
                border: 2px solid #1F2224;
            }

            .login-button:hover{
                border: 2px solid #1F2224;
                background-color: #1F2224;
                color: #FCEDD4;
            }


            /* will need to get an icon for this*/
            #shoppingcart{
                 
                margin-right: 10px;
            }

            #navbarlinks{
                
               display: flex;
               justify-content: space-evenly; 
               align-items: center;
               width: 90%;
               margin-left: 130px;
            }

            #searchgenre{
                
                position: relative;
                display: inline-block;
            }

            #searchgenre:hover #genreform{
                display: block;
            }

            .dropbtn{
                border: 2px solid #8DB8A8;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 0%;
                cursor: pointer;
                background-color: #8DB8A8;
            }

            .dropbtn h4{
                font-family: CantataOne;
                font-size: 25px;
                color: #1F2224;
            }

            #genreform{
               
               background-color: #79A293;
               cursor: pointer;
               display: none;
               position: absolute;
               right: 0; 
               min-width: 160px;
               z-index: 1;
            }

            #genreform form input [type=radio]{
                 
                cursor: pointer;
                display: block;
                font-family: BigCaslon;
            }

            .genre{
               border: 2px solid #1F2224; 
               margin-top: 5px;
               padding-top: 10px; 
               padding-bottom: 10px;
               padding-left: 20px;
               padding-right: 20px;
               border-radius: 0%;
               background-color: #79A293;
               font-family: CantataOne;
               font-size: 20px;
               cursor: pointer;
               color: #1F2224;
            }

            .genre:hover{
                border: 2px solid #1F2224;
                background-color: #1F2224;
                color: #FCEDD4;
            }

            #demographicsearch{
                
                position: relative;
                display: inline-block;
            }

            #demographicsearch:hover #demographicform{
                display: block;
            }

            #demographicform{
               
               background-color: #79A293;
               cursor: pointer;
               display: none;
               position: absolute;
               right: 0; 
               min-width: 160px;
               z-index: 1;
            }

            #demographicform form input [type=radio]{
                 
                cursor: pointer;
                display: block;
                font-family: BigCaslon;
            }

            .demographic{
               border: 2px solid #1F2224; 
               margin-top: 5px;
               padding-top: 10px; 
               padding-bottom: 10px;
               padding-left: 20px;
               padding-right: 20px;
               border-radius: 0%;
               background-color: #79A293;
               font-family: CantataOne;
               font-size: 20px;
               cursor: pointer;
               color: #1F2224;
            }

            .demographic:hover{
                border: 2px solid #1F2224;
                background-color: #1F2224;
                color: #FCEDD4;
            }

            #yearsearch{
                
                position: relative;
                display: inline-block;
            }

            #yearsearch:hover #yearform{
                display: block;
            }

            #yearform{
               
               background-color: #79A293;
               cursor: pointer;
               display: none;
               position: absolute;
               right: 0; 
               min-width: 160px;
               z-index: 1;
            }

            #yearform form input [type=radio]{
                 
                cursor: pointer;
                display: block;
                font-family: BigCaslon;
            }

            .yearRange{
               border: 2px solid #1F2224; 
               margin-top: 5px;
               padding-top: 10px; 
               padding-bottom: 10px;
               padding-left: 20px;
               padding-right: 20px;
               border-radius: 0%;
               background-color: #79A293;
               font-family: CantataOne;
               font-size: 20px;
               cursor: pointer;
               color: #1F2224;
            }

            .yearRange:hover{
                border: 2px solid #1F2224;
                background-color: #1F2224;
                color: #FCEDD4;
            } header{
                grid-area: head;
                background-color: #8DB8A8;
            }

            header h1{
                padding-top: 30px;
                font-family: CantataOne;
                font-size: 30px;
                color: #1F2224;

            }

            /*I have somethings I'm working on, for now this is just a square*/

            #logoimg {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #logoimg a img{
                width: 50px;
                height: 50px;
            }
            
            #loginandshoppingcart{
                display: flex;
                justify-content: flex-end;
                margin-right: 10px;
            }
            

            #loginbutton{
               margin-right: 20px;

            }

            .login-button{
                font-family: CantataOne;
                font-size: 20px;
                color: #1F2224;
                padding-top: 10px;
                padding-bottom: 10px;  
                padding-left: 20px; 
                padding-right: 20px;
                border-radius: 0%;
                background-color: #8DB8A8;
                border: 2px solid #1F2224;
            }

            .login-button:hover{
                border: 2px solid #1F2224;
                background-color: #1F2224;
                color: #FCEDD4;
            }


            /* will need to get an icon for this*/
            #shoppingcart{
                 
                margin-right: 10px;
            }

            #navbarlinks{
                
               display: flex;
               justify-content: space-evenly; 
               align-items: center;
               width: 90%;
               margin-left: 130px;
            }

            #searchgenre{
                
                position: relative;
                display: inline-block;
            }

            #searchgenre:hover #genreform{
                display: block;
            }

            .dropbtn{
                border: 2px solid #8DB8A8;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 0%;
                cursor: pointer;
                background-color: #8DB8A8;
            }

            button h4{
                font-family: CantataOne;
                font-size: 25px;
                color: #1F2224;
            }

            #genreform{
               
               background-color: #79A293;
               cursor: pointer;
               display: none;
               position: absolute;
               right: 0; 
               min-width: 160px;
               z-index: 1;
            }

            #genreform form input [type=radio]{
                 
                cursor: pointer;
                display: block;
                font-family: BigCaslon;
            }

            .genre{
               border: 2px solid #1F2224; 
               margin-top: 5px;
               padding-top: 10px; 
               padding-bottom: 10px;
               padding-left: 20px;
               padding-right: 20px;
               border-radius: 0%;
               background-color: #79A293;
               font-family: CantataOne;
               font-size: 20px;
               cursor: pointer;
               color: #1F2224;
            }

            .genre:hover{
                border: 2px solid #1F2224;
                background-color: #1F2224;
                color: #FCEDD4;
            }

            #demographicsearch{
                
                position: relative;
                display: inline-block;
            }

            #demographicsearch:hover #demographicform{
                display: block;
            }

            #demographicform{
               
               background-color: #79A293;
               cursor: pointer;
               display: none;
               position: absolute;
               right: 0; 
               min-width: 160px;
               z-index: 1;
            }

            #demographicform form input [type=radio]{
                 
                cursor: pointer;
                display: block;
                font-family: BigCaslon;
            }

            .demographic{
               border: 2px solid #1F2224; 
               margin-top: 5px;
               padding-top: 10px; 
               padding-bottom: 10px;
               padding-left: 20px;
               padding-right: 20px;
               border-radius: 0%;
               background-color: #79A293;
               font-family: CantataOne;
               font-size: 20px;
               cursor: pointer;
               color: #1F2224;
            }

            .demographic:hover{
                border: 2px solid #1F2224;
                background-color: #1F2224;
                color: #FCEDD4;
            }

            #yearsearch{
                
                position: relative;
                display: inline-block;
            }

            #yearsearch:hover #yearform{
                display: block;
            }

            #yearform{
               
               background-color: #79A293;
               cursor: pointer;
               display: none;
               position: absolute;
               right: 0; 
               min-width: 160px;
               z-index: 1;
            }

            #yearform form input [type=radio]{
                 
                cursor: pointer;
                display: block;
                font-family: BigCaslon;
            }

            .yearRange{
               border: 2px solid #1F2224; 
               margin-top: 5px;
               padding-top: 10px; 
               padding-bottom: 10px;
               padding-left: 20px;
               padding-right: 20px;
               border-radius: 0%;
               background-color: #79A293;
               font-family: CantataOne;
               font-size: 20px;
               cursor: pointer;
               color: #1F2224;
            }

            .yearRange:hover{
                border: 2px solid #1F2224;
                background-color: #1F2224;
                color: #FCEDD4;
            }

            


            footer{
                border: 2px solid aqua;
                grid-area: foot;
                display: flex;
                justify-content: space-evenly;
                padding-bottom: 70px;
            }

            footer h3{
                margin-top: 30px;
                margin-bottom: 30px;
                font-family: CantataOne;
                font-size: 23px;
                color: #1F2224;

            }

            footer a{
                text-decoration: none;
                font-family: BigCaslon;
                font-size: 23px;
                color: #1F2224;
            }

            footer a:hover{
                color: #8DB8A8;
            }

            .cart-button {
                background: none;
                border: none;
                cursor: pointer;
            }

            .cart-button img {
                width: 30px; /* Adjust the width as needed */
                height: auto;
            }
            
      </style> 
    </head>
    <body>
        
        <header>
            <div id="logoimg">
                <a href="/"><img src="./BookLogo.jpg" alt="logo"></a>
            </div>
            <div id="loginandshoppingcart">
                   <div id="loginbutton">
                            <button class="login-button" onclick="location.href='/login'">Login</button>
                   </div>
                <button class="cart-button" onclick="location.href='/shoppingCart'">
                                <img src="./cartpic.jpg" alt="cart">
                </button>
            </div>
            <div id="navbarlinks"> <!--this should have all the dropdownlinks we need as well as links to whatever pages-->

                <div id="searchgenre">
                    <h4>Genre</h4>
                        <div id="genreform">
                            <form action="/search_genre" method="POST">
                                <input type="radio" id="Biography" name="genre" value="Biography">
                                <label for="biography">Biography</label><br>

                                <input type="radio" id="Business" name="genre" value="Business">
                                <label for="business">Business</label><br>

                                <input type="radio" id="Children" name="genre" value="Children">
                                <label for="children">Children</label><br>

                                <input type="radio" id="Classic" name="genre" value="Classic">
                                <label for="children">Classic</label><br>

                                <input type="radio" id="Fantasy" name="genre" value="Fantasy">
                                <label for="fantasy">Fantasy</label><br>

                                <input type="radio" id="Fiction" name="genre" value="Fiction">
                                <label for="fiction">Fiction</label><br>

                                <input type="radio" id="Literature" name="genre" value="Literature">
                                <label for="literature">Literature</label><br>

                                <input type="radio" id="Non-Fiction" name="genre" value="Non-Fiction">
                                <label for="non-fiction">Non-Fiction</label><br>

                                <input type="radio" id="Romance" name="genre" value="Romance">
                                <label for="romance">Romance</label><br>

                                <input type="radio" id="Science Fiction" name="genre" value="Science Fiction">
                                <label for="sciencefiction">Science Fiction</label><br>

                                <input type="radio" id="Self-Help" name="genre" value="Self-Help">
                                <label for="self-help">Self-Help</label><br>

                                <input type="radio" id="Textbooks" name="genre" value="Textbooks">
                                <label for="textbooks">Textbooks</label><br>

                                <input type="radio" id="Travel" name="genre" value="Travel">
                                <label for="travel">Travel</label><br>

                                <input type="submit" class="genre" value="submit">
            
                            </form>

                        </div>
                </div>
                <div id="demographicsearch">
                    <h4>Demographic</h4>
                        <div id="demographicform">
                            <form action="/search_demographics" method="POST">
                                <input type="radio" id="Adult" name="demographics" value="Adult">
                                <label for="Adult">Adult</label><br>

                                <input type="radio" id="Teens" name="demographics" value="Teens">
                                <label for="Teens">Teens</label><br>

                                <input type="radio" id="Kids" name="demographics" value="Kids">
                                <label for="Kids">Kids</label><br>

                                <input type="submit" class="demographic" value="Search">
                            </form>
                        </div>
                </div>
                <div id="yearsearch">
                    <h4>Publishing Year</h4>
                        <div id="yearform">
                            <form action="/search_year" method="POST">
                                <input type="radio" id="0-2000" name="yearRange" value="0,2000">
                                <label for="0-2000">Before 2000</label><br>

                                <input type="radio" id="2001-2010" name="yearRange" value="2001,2010">
                                <label for="2001-2010">2001 - 2010</label><br>

                                <input type="radio" id="2011-2020" name="yearRange" value="2011,2020">
                                <label for="2011-2020">2011 - 2020</label><br>

                                <input type="radio" id="2021-2030" name="yearRange" value="2021,2030">
                                <label for="2021-2030">2021 and Beyond</label><br>

                                <input type="submit" class="yearRange" value="submit">
                            </form>
                        </div>
                </div>

            </div>

        </header>


        
            <table class="shoppingCart">
                <tr>
                    <th>Book</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Full Price</th>
                    <th>Remove</th>
                </tr>
                <tr>
                    <td>
                        {{this.BookTitle}}<br>
                        {{this.Author}}
                    </td>
                    <td>
                        <!-- Add a placeholder for quantity -->
                        {{this.Quantity}}
                    </td>
                    <td>
                        <!-- Add a placeholder for price -->
                        {{this.Price}}
                    </td>
                    <td>
                        <!-- Add a placeholder for full price -->
                        {{this.FullPrice}}
                    </td>
                    <td>
                        <button name="deleterecord" type="button" class="btn btn-danger btn-sm" onclick="remove_item()">Remove</button>
                    </td>
                </tr>
            </table>
        <footer>
            <div id="footerlinkcolumn1">
                <h3>Company</h3>
                <a href="/about">About</a>
            </div>
            <div id="footerlinkcolumn2">
                <h3>Help</h3>
                <a href="/contact">Contact</a>
            </div>

        </footer>

    </body>
</html>